/* Colors palette: */

:root {
  --main-black: #151515;
  --accent-green: #6A983C;
}

/* General */

body {
  font-family: font-family: 'Poppins', sans-serif;
  color: var(--txt-main);

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Elements' common styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list-general {
  list-style: none;
  padding-left: 0;
}
.btn-general {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}
.btn-general:hover,
.btn-general:focus {

}
.links-general {
  color: inherit;
  text-decoration: none;
}
.links-selection:hover,
.links-selection:focus {
}
.image-display {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */
.header-upper-links {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid hsla(0, 0%, 8%, 0.05);
  display: flex;
  justify-content: space-between;
}
.header-upper-links > ul {
  display: flex;
}
.upper-links-1 {
  font-family: 'Open Sans';
font-size: 12px;
line-height: 1.33;
color: var(--main-black);
}
.upper-links-1 + .upper-links-1 {
  margin-left: 33px;
}
.upper-links-2 {
  font-family: 'Open Sans';
font-size: 12px;
line-height: 1.33;
color: var(--accent-green);
}
.upper-links-2 + .upper-links-2 {
  margin-left: 38px;
}
.header-logo-link {
  display: inline-block;
  max-width: 177px;
  max-height: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-logo-icon {
  width: 177px;
  height: 18px;
  fill: #151515;
}
.header-user-bag-links {
  display: flex;
}
/* FOOTER */
.footer-links {
  display: flex;
}
.product-tags {
  display: inline-flex;
  flex-wrap: wrap;
}