/* Colors palette: */

:root {
  --main-black: #151515;
  --text-secondary: #575757;
  --text-pale-grey: #a9a9a9;
  --thumb-border-grey: #d1d1d1;
  --accent-green: #6a983c;
  --btn-border-green: #92c064;
  --buy-btn-border-green: #46760a;
  --discount-bg-green: #f4f8ec;
  --main-white: #fff;
  --bg-light-grey: #f9f9f9;
  --accent-red: #e6704b;
  --bg-tag-grey: #f5f5f5;
}

/* General */

body {
  font-family: "Poppins", sans-serif;
  color: var(--main-black);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-black);
  margin-bottom: 16px;
}
/* Elements' common styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list-general {
  list-style: none;
  padding-left: 0;
}
.links-general {
  color: inherit;
  text-decoration: none;
}
.aside-links li {
  margin-bottom: 12px;
}
.aside-links li:last-child {
  margin-bottom: 48px;
}
.aside-links a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-green);
}
.more-btn {
  display: inline-block;
  align-items: baseline;
  padding: 12.5px 16px;
  background-color: var(--bg-tag-grey);
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
}
.more-btn-icon {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  transform: translate(0, 3px);
  fill: none;
}
.image-display {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */

/* Upper links */
.header-upper-links-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid hsla(0, 0%, 8%, 0.05);
  display: flex;
  justify-content: space-between;
}
.header-upper-links {
  display: flex;
}
.upper-links-1 {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-black);
}
.upper-links-1:first-child {
  color: var(--accent-green);
}
.upper-links-1 + .upper-links-1 {
  margin-left: 33px;
}
.upper-links-2 {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.33;
  color: var(--accent-green);
}
.upper-links-2 + .upper-links-2 {
  margin-left: 38px;
}

/* Middle links */
.header-middle-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-logo-link {
  display: inline-block;
  max-width: 177px;
  max-height: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-logo-icon {
  width: 177px;
  height: 18px;
  fill: var(--main-black);
}
.header-input {
  min-width: 500px;
}
.header-user-bag-links {
  display: flex;
}
.header-user-link,
.header-bag-link {
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
}
.header-user-link {
  margin-right: 40px;
}
.user-icon {
  width: 18px;
  height: 20px;
  fill: none;
}
.header-bag {
  position: relative;
  min-width: 30px;
  min-height: 30px;
}
.bag-icon {
  width: 20px;
  height: 18px;
  fill: none;
}
.header-bag-mark {
  position: absolute;
  bottom: 3px;
  left: -6px;
  display: block;
  width: 16px;
  height: 16px;
  padding: 1px 4px;
  border-radius: 12px;
  background-color: var(--accent-red);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 12px;
  color: var(--main-white);
}

/* MAIN CONTENT */
/* Menu */
.menu {
  background-color: var(--bg-light-grey);
}
.menu-categories {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  align-items: center;
  font-size: 15px;
  line-height: 1.47;
  color: var(--main-black);
}
.menu-categories-item + .menu-categories-item {
  margin-left: 40px;
}
.categories-icon {
  width: 12px;
  height: 12px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  margin-left: 2px;
  transform: translate(0, 1px);
}
/* Hero */
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.hero-card-wrapper {
  width: 419px;
  height: 280px;
  padding: 48px 32px 32px 32px;
  border-radius: 12px;
  background-image: url("/images/banner.jpg");
}
.hero-card-wrapper > p {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: var(--accent-green);
  margin-bottom: 8px;
}
.hero-card-wrapper > h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 94px;
}
.hero-receipe-btn {
  display: inline-block;
  align-items: baseline;
  padding: 12px 16px;
  background-color: transparent;
  border: 2px solid var(--btn-border-green);
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
}
.hero-receipe-btn-icon {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  transform: translate(0, 3px);
  fill: none;
  stroke: var(--btn-border-green);
}
/* Best sellers */
.best-sellers .container,
.farm-products .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.best-sellers-cards-wrapper,
.farm-products-cards-wrapper {
  width: 870px;
}
.best-sellers-cards,
.farm-products-cards {
  display: flex;
}
.best-sellers-item,
.farm-products-item {
  display: block;
  width: calc((100%-64px) / 3);
  padding: 16px;
  margin-bottom: 9px;
  border: 1px solid var(--thumb-border-grey);
  border-radius: 12px;
}
.best-sellers-item + .best-sellers-item,
.farm-products-item + .farm-products-item {
  margin-left: 32px;
}
.product-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.47;
  margin-bottom: 4px;
}
.product-descr {
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-secondary);
}
.pic-wrapper {
  width: 237px;
  height: 180px;
  margin-bottom: 16px;
  border-radius: 12px;
  background-image: url("/images/image-light.jpg");
  position: relative;
}
.discount {
  position: absolute;
  top: 12px;
  left: 12px;
  max-width: 54px;
  max-height: 18px;
  background-color: var(--discount-bg-green);
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: var(--accent-green);
}
.price-buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-tag {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.old-price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  text-decoration-line: line-through;
  color: var(--text-pale-grey);
}
.buy-btn {
  display: inline-block;
  padding: 6.5px 12px;
  background-color: var(--accent-green);
  border: 2px solid var(--buy-btn-border-green);
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  color: var(--main-white);
  text-align: center;
}
/* FOOTER */
footer .container {
  padding-top: 64px;
  padding-bottom: 64px;
}
footer p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.36;
  color: var(--main-black);
}
.footer-links {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}
.footer-links li {
  margin-bottom: 16px;
}
.footer-links li:last-child {
  margin-bottom: 0;
}
.footer-links a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-green);
}
.product-tags {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 1084px;
  margin-bottom: 48px;
}
.tag-item + .tag-item {
  margin-left: 16px;
}
.tag-item:nth-child(13) {
  margin-left: 0;
}
.tag-item:nth-last-child(-n + 7) {
  margin-bottom: 0;
}
.tag-link {
  display: inline-block;
  min-height: 26px;
  padding: 4px 10px;
  margin-bottom: 16px;
  background-color: var(--bg-tag-grey);
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-black);
  transition: color 250ms ease-in-out;
}
.tag-link:hover,
.tag-link:focus {
  color: var(--accent-green);
}
