/* Colors palette: */

:root {
  --main-black: #151515;
  --accent-green: #6A983C;
  --main-white: #fff;
  --bg-light-grey: #F9F9F9;
  --accent-red: #E6704B;
  --bg-tag-grey: #F5F5F5;
}

/* General */

body {
  font-family: font-family: 'Poppins', sans-serif;
  color: var(--txt-main);

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Elements' common styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list-general {
  list-style: none;
  padding-left: 0;
}
.btn-general {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}
.btn-general:hover,
.btn-general:focus {

}
.links-general {
  color: inherit;
  text-decoration: none;
}
.links-selection:hover,
.links-selection:focus {
}
.image-display {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */

/* Upper links */
.header-upper-links-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid hsla(0, 0%, 8%, 0.05);
  display: flex;
  justify-content: space-between;
}
.header-upper-links {
  display: flex;
}
.upper-links-1 {
  font-family: 'Open Sans';
font-size: 12px;
line-height: 1.33;
color: var(--main-black);
}
.upper-links-1:first-child {
  color: var(--accent-green);
}
.upper-links-1 + .upper-links-1 {
  margin-left: 33px;
}
.upper-links-2 {
  font-family: 'Open Sans';
font-size: 12px;
line-height: 1.33;
color: var(--accent-green);
}
.upper-links-2 + .upper-links-2 {
  margin-left: 38px;
}

/* Middle links */
.header-middle-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-logo-link {
  display: inline-block;
  max-width: 177px;
  max-height: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-logo-icon {
  width: 177px;
  height: 18px;
  fill: var(--main-black);
}
.header-input {
  min-width: 500px;
}
.header-user-bag-links {
  display: flex;
}
.header-user-link, .header-bag-link {
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
}
.header-user-link {
  margin-right: 40px;
}
.user-icon {
 width: 18px;
 height: 20px;
 fill: none;
}
.header-bag {
  position: relative;
  min-width: 30px;
  min-height: 30px;
}
.bag-icon {
width: 20px;
 height: 18px;
 fill: none;
}
.header-bag-mark {
   position: absolute;
  bottom: 3px;
  left: -6px;
  display: block;
  width: 16px;
  height: 16px;
  padding: 1px 4px;
  border-radius: 12px;
  background-color: var(--accent-red);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
text-align: center;
font-size: 12px;
color: var(--main-white);
}

/* MAIN CONTENT */
/* Menu */
.menu {
  background-color: var(--bg-light-grey);
}
.menu-categories {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  align-items: center;
font-size: 15px;
line-height: 1.47;
color: var(--main-black);
}
.menu-categories-item + .menu-categories-item {
margin-left: 40px;
}
.categories-icon {
  width: 12px;
  height: 12px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  margin-left: 2px;
  

}
/* FOOTER */
.footer-links {
  display: flex;
}
.product-tags {
  display: inline-flex;
  flex-wrap: wrap;
}
.tag-item {
  display: inline-block;
min-height: 26px;
padding: 4px 10px;
margin-bottom: 16px;
background-color: var(--bg-tag-grey);
border-radius: 12px;
}
.tag-item + .tag-item {
  margin-left: 26px;
}
.tag-item:nth-child(13) {
  margin-left: 0;
}
.tag-item:nth-last-child(-n + 7) {
  margin-bottom: 0;
}
.tag-link {
text-align: end;
font-weight: 600;
font-size: 12px;
line-height: 1.5;
color: var(--main-black);
}