/* Upper links */

.top-bar {
  max-height: 48px;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid hsla(0, 0%, 8%, 0.05);

  & .contacts {
    display: flex;
    column-gap: 38px;

    &__item {
      font-family: "Open Sans";
      font-size: 12px;
      line-height: 1.33;
      color: $main-black;
      @include transition(transform, text-shadow);
    }

    &__item:first-child {
      color: $accent-green;
    }

    &__item:hover {
      transform: scale(1.3);
      text-shadow: 0px 1px 3px rgba(70, 118, 10, 0.12);
      @include transition(transform, text-shadow);
    }

    &__link {
      @include transition(font-size);
    }

    &__link:focus {
      font-size: 15px;
      @include transition(font-size);
    }
  }

  & .nav {
    display: flex;
    column-gap: 38px;

    &__item {
      font-family: "Open Sans";
      font-size: 12px;
      line-height: 1.33;
      color: $accent-green;
      @include transition(transform, text-shadow);
    }

    &__item:hover {
      transform: scale(1.3);
      text-shadow: 0px 1px 3px rgba(70, 118, 10, 0.12);
      @include transition(transform, text-shadow);
    }
    &__link {
      @include transition(font-size);
    }

    &__link:focus {
      font-size: 15px;
      @include transition(font-size);
    }
  }
}
