.read-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px 16px;
  background-color: transparent;
  border: 2px solid $btn-border-green;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  @include transition(transform);

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
    transition: transform 300ms linear 100ms;
  }

  &:hover &__icon,
  &:focus &__icon {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
