/* BEST SELLERS & FARM PRODUCTS SECTIONS */

.best-sellers .container,
.farm-products .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 64px;
  padding-bottom: 64px;
}
.best-sellers-cards-wrapper,
.farm-products-cards-wrapper {
  width: 870px;
}
.best-sellers-cards,
.farm-products-cards {
  display: flex;
  column-gap: 32px;
}
.best-sellers-item,
.farm-products-item {
  display: block;
  width: calc((100%-64px) / 3);
  padding: 16px;
  margin-bottom: 9px;
  border: 1px solid $thumb-border-grey;
  border-radius: 12px;
}
/* .best-sellers-item + .best-sellers-item,
.farm-products-item + .farm-products-item {
  margin-left: 32px;
} */
.product-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.47;
  margin-bottom: 4px;
}
.product-descr {
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.33;
  color: $text-secondary;
}
.pic-wrapper {
  width: 237px;
  height: 180px;
  margin-bottom: 16px;
  border-radius: 12px;
  background-image: url("../images/image-light.jpg");
  background-color: $thumb-border-grey;
  position: relative;
}
.discount {
  position: absolute;
  top: 12px;
  left: 12px;
  max-width: 54px;
  max-height: 18px;
  background-color: $discount-bg-green;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: $accent-green;
}
.price-buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-tag {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.old-price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  text-decoration-line: line-through;
  color: $text-pale-grey;
}
.buy-btn {
  display: inline-block;
  padding: 6.5px 12px;
  background-color: $accent-green;
  border: 2px solid $buy-btn-border-green;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  color: $main-white;
  text-align: center;
}
