/* RANDOM PRODUCTS SECTION */

.random-products .container {
  padding-top: 64px;
  padding-bottom: 64px;
}
.section-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.section-header-wrapper > h2 {
  margin-bottom: 0;
}
.random-products-cards {
  display: flex;
  column-gap: 32px;
}
/* .random-products-item + .random-products-item {
  margin-left: 32px;
} */

.random-products-item {
  display: block;
  width: calc((100%-96px) / 4);
  padding: 16px;
  border: 1px solid $thumb-border-grey;
  border-radius: 12px;
}
